        <h1>Home Page</h1>
        <div>
                <p>As part of our higher educational pursuits in I.T., we were required to form a group with our fellow students and expand our knowledge within this subject to produce a report on various aspects of the I.T. industry, as well as formulating a plan to create an original I.T. project. The purpose of this assignment was to achieve core learning outcomes through: Enabling knowledge, Critical analysis, Problem solving, Communication and Teamwork.</p> 
                <p>To document further learning of the group's assignment we research and discussed the following tasks: Documenting our team profiles and personalities, after which we then discussed and compared our ideal jobs within the I.T. industry. To better assist our understanding of what it's like to work in the I.T. industry we also interviewed an experienced I.T. professional whom provided valuable insights to the daily workings, and possible career progression of I.T. professionals.</p>
                <p>In addition, our group researched and explored I.T. technologies that can and are having a profound impact on the developed world, simultaneously changing the course of history. The technologies we chose were: Cyber security, Cloud/Server Services, Blockchain and Cryptocurrencies, as well as Machine learning. The group enjoyed furthering their knowledge in these areas and took inspiration from this to assist us in the creation of our project idea - an interactive chatbot application that monitors online activity of youth and young adults in an attempt to recognise those that may be at risk of mental health disorders and other behavioural concerns and connect them to supportive networks and services.</p>
                <p>To effectively allocate a fairly equal allotment of work and complete the assignment as a group. Each member was delegated a task well suited to their personal strengths - this was either decided through self nomination or group consensus. Assignment progressed as follows:</p>
                <ul>
                        <li>Original initiation and group formation conducted by Aaron B</li>
                        <li>Meeting facilitation, set agenda, and minute recording by Carla J</li>
                        <li>Individual Profiles completed by each relevant member</li>
                        <li>Ideal Job & Industry Data Comparison by Carla J, and Arianna M</li>
                        <li>I.T. Technology Topics delegation:
                                <ul>
                                        <li>Cryptocurrencies by Lachlan S</li>
                                        <li>Cloud/Server Services by Andrew B</li>
                                        <li>Blockchain and Cryptocurrencies by Aaron B</li>
                                        <li>Machine Learning by Sean M</li>
                                </ul>
                        </li>
                        <li>I.T. Professional Interview conducted by Carla J</li>
                        <li>Project Idea by Aaron B, and Sean M</li>
                        <li>Project Idea psychologist research and interview by Arianna M</li>
                        <li>Additional text by Carla J</li>
                        <li>Website design and construction by Lachlan S</li>
                </ul>
                <p>Finally through reflective assessment and contemplation the group worked efficiently and collaboratively to bring to fruition our ideas collective work, and deem it to be a successful project and hope that our readers will agree.</p>
        </div>